{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="signup-form">
            <h1>Sign Up</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% comment %} <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password1" name="password1"><br>
            <label for="password">Password Confirmation:</label><br>
            <input type="password" id="password2" name="password2"> {% endcomment %}
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </main>
{% endblock content %}