{% extends 'base.html' %}
{% block content %}
    <main><br><br><br><br> 
        <div class="task-form">
            <h1>Create new record</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="create">Create</button>
            </form>
        </div>
    </main>
{% endblock content %}