{% extends 'base.html' %}
{% block content %}
    <main><br><br><br><br>
        <div class="my-tasks-list">
            <h1>My Tasks</h1>
            {% if task_list %}
                <Table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                            <tr>
                    </thead>
                        <tbody style="text-align:center;">
                            {% for task in task_list %}
                                <tr>
                                    <td>{{task.name}}</td>
                                    <td>{{task.start_date}}</td>
                                    <td>{{task.due_date}}</td>
                                    <td>{{task.is_completed}}</td>
                                        {% if task.is_completed == False %}
                                            <td><form method="post" action="{% url 'complete_task' task.id %}">
                                            {% csrf_token %}
                                                <input type="hidden" name="is_completed" value="True">
                                                <button>Complete</button>
                                            </form></td>
                                    {% endif %}
                                </tr>
                            {% endfor%}
                        </tbody>
                </Table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}