{% extends 'base.html' %}
{% load markdownify %}
{% block content %}
    <main><br><br><br><br>
        <div class="project-detail">
            <h1>{{project.name}}</h1>
            <p>{{ project.description|markdownify }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if project.tasks.all %}
                <Table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                            <tr>
                            </thead>
                            {% for task in project.tasks.all %}
                                <tbody>
                                    <tr>
                                        <td>{{task.name}}</td>
                                        <td>{{task.start_date}}</td>
                                        <td>{{task.due_date}}</td>
                                        <td>{{is_completed}}</td>
                                    </tr>
                                </tbody>
                            {% endfor%}
                        </Table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}