{% extends 'base.html' %}
{% block content %}
    <main><br><br><br><br>
        <div class="project-list">
            <h1>My Trips</h1>
            <p>
                <a href="{% url 'create_project' %}">Create a new trip</a>
            </p>
            {% if project_list %}
                <Table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of records</th>
                        </tr>
                    </thead>
                    {% for project in project_list %}
                    <tbody>
                        <tr>
                            <td><a href="{% url 'show_project' project.pk %}">{{project.name}}</td>
                            <td>{{project.tasks.all|length}}</td>
                        </tr>
                    </tbody>
                            {% endfor%}
                </Table>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}